html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #e6edf1;
}

div.sidepanel, div.centre, div.header {
	background-color: white;
	border-style: solid;
    border-width: 1px;
    border-color: #e8e1e1;
}

div.header {
	position: fixed;
    width: 100%;
    top: 0;
	border-style: none none solid none;
	padding: 10px;
	padding-left: calc(50% - 400px);
	z-index: 1000;
}

div.header span {
	font-size: 20pt;
	font-weight: bold;
	margin-right: 10px;
}

div.header a {
	color: #737373;
}

div.header a:hover {
	color: black;
}

div.sidepanel {
	position: fixed;
	top: 72px;
    right: calc(50% + 440px);
	padding: 20px;
    padding-right: 40px;
}

div.sidepanel a {
	width: 100%;
    display: inline-block;
    text-align: center;
	padding: 10px;
}

div.sidepanel a:hover {
	background-color: #d2d2d2;
}

div.centre {
	width: 800px;
	margin:  72px auto 20px auto;
	padding: 20px;
}

div.example {
	display: flex;
	flex-direction: row;
	padding: 10px;
	border-style: solid;
    border-width: 1px;
    border-color: #e6edf1;
}

div.code, div.demo {
	flex: 1 0;
}

div.description {
	margin-bottom: 10px;
}

a.header h2 {
	margin: 10px 0;
}

a.header:hover {
	text-decoration: underline;
}

a {
	color: black;
	text-decoration: none;
}

.ReactCodeMirror, .CodeMirror {
	height: 100%;
}

.cm-error {
	background-color: inherit !important;
	color: inherit !important;
}

div.custom-container {
	background-color: #242424;
}
svg.custom .node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

svg.custom .node text {
	font-size: 11px;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

.red-node {
	fill: red;
	stroke: red;
}